extends ../layout
block body
  .jumbotron
    h2 修改密码
    form#form-create.form-inline(role='form', action='/user/password/'+user.id, method='post', autocomplete='off')
      .form-group
        label(for='opassword') 旧密码
        input#opassword.form-control(type='password', name='opassword', placeholder='请输入旧密码', required)
      .form-group
        label(for='npassword1') 新密码
        input#npassword1.form-control(type='password', name='npassword1', placeholder='请输出新密码', required)
      .form-group
        label(for='npassword2') 再次输入
        input#npassword2.form-control(type='password', name='npassword2', placeholder='请再一次输出新密码', required)
      input(type='hidden', name='_method', value='put')
      button.btn.btn-default(type='submit') 确认
      button.btn.btn-default(type='reset') 重置